//-----------------------------------------------------------------
// Game Skeleton Resources
// RC Source - MovingLines.rc - version v7_02_firstyear
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Include Files
//-----------------------------------------------------------------
#include "Resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_BIG       ICON         "big.ico"
IDI_SMALL     ICON         "small.ico"